# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
backend/mediflow

# Test binary
*.test

# Output of the go coverage tool
*.out

# Environment variables
backend/.env
.env
.env.local
.env.*.local
.env.production
